* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-weight: bold;
}
 
form input,
form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}
    
 form button{  
    width: 100%;
    padding: 10px;
    background: #693bcd;
    color: #fff;
    border: none;
    border-radius:4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover{
    background: #58277b;
}