* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-wrapper {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
}

.contact-form h1 {
    margin-bottom: 10px;
    color: #2d3748;
    text-align: center;
}

.subtitle {
    color: #718096;
    font-size: 14px;
    text-align: center;
    margin-bottom: 25px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #4a5568;
    font-size: 14px;
    font-weight: 500;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 12px;
    transition: border-color 0.3s;
    resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #38b2ac;
    outline: none;
}

.contact-form button{
    width: 100%;
    padding: 12px;
    background-color: #32afc5;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #1c6178;
}